spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/anytransaction
    username: postgres
    password: postgres
  jpa:
    generate-ddl: true
    show-sql: true
  graphql:
    graphiql:
      enabled: true
      path: /graphiql

spring.jpa.properties:
  hibernate:
    format_sql: true
    dialect: org.hibernate.dialect.PostgreSQLDialect
    default_schema: public
    globally_quoted_identifiers: true
    hbm2ddl:
      auto: update
    connection:
      characterEncoding: utf8